<div class="col-md-8 row">
  <h4>We're running your selected actions... You may now close this window.</h4>
</div>
<div class="col-md-8 alert alert-success" role="alert">
  Remember, now that you've authorized us, in the future, you can run actions requiring authorization directly from Slack.
</div>