<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>

  <body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h4>We're running your selected actions... You may now close this window.</h4>
        </div>
            <div class="col-md-8 alert alert-success" role="alert">
                Remember, now that you've authorized us, in the future, you can run actions requiring authorization directly from Slack.
            </div>
    </div>
  </body>
<html>

